bin/
blockchain.json
package.json
package-lock.json
node_modules/
.venv/
docs/openapi.html
docs/sourcecode/
docs/schema
schema_doc.css
schema_doc.min.js
frontend/node_modules
.idea
blockchain-demo.json
internal/api/web/openapi.bundled.yaml
